<div class="background">
  <h1>List of 🍹's</h1>

  <div class="container">
    <br>
     <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-success" %>
     <br>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow" style="width: 18rem;">
          <%= cl_image_tag cocktail.photo.key, height: 300, crop: :fill, class: "card-img-top shadow-sm" %>
          <div class="card-body">
            <p class="card-text"><%= link_to cocktail.name, cocktail_path(cocktail.id) %></p>
            <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash destroy_cocktail"></i>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <br>
    <br>
  </div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Jeremy Wilson
  </div>
</div>

</div>


