/*.background {
  background-image: url("drink_background.png");
  height: 1440px;
  background-position: center;
  object-fit: cover;
}
*/

.row-container {
/*  background-color: rgba(89, 12, 130, 0.80);*/
  padding-left:48px;
  padding-bottom: 36px;
  margin-top: 36px;
  border-radius:8px;
}

body {
  background-color: rgba(182, 26, 173, 0.07);
}
