.background {
  background-image: asset-url('https://res.cloudinary.com/dphsaovxy/image/upload/v1614190207/drink_background_nssqj4.png');
  height: 1440px;
  background-position: center;
  object-fit: cover;
}


